/* Bottom nav */
.md-nav-bar .md-nav-item {
  text-align: center;
}
.md-nav-bar .md-nav-item:first-of-type {
  margin-left: 0px;
}

.md-nav-bar .md-button {
  min-width: 40px;
  font-size: 10px;
  padding: 12px 10px;
  text-align: center;
}
.md-nav-item .md-button {
  padding-top: 6px;
  line-height: 19px;
}
.md-nav-item .fa {
  font-size: 18px;
}

/* Search */
.search-input {
  margin: 0;
  font-size: 12px;
  width: 75%;
  max-width: 400px;
}
.search-input .md-errors-spacer {
  display: none;
}
#results {
  position: relative;
}
.list-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
#searchmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.expandable {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.search-list {
  margin-top: 35px;
}
.expand-button {
  min-height: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.date {
  font-size: 14px;
  margin: 0px 10px;
}
.md-datepicker-button {
  display: none;
}
