/* Bottom nav */
html, body {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.md-nav-bar .md-nav-item {
  text-align: center;
}
.md-nav-bar .md-nav-item:first-of-type {
  margin-left: 0px;
}

.md-nav-bar .md-button {
  min-width: 40px;
  font-size: 10px;
  padding: 12px 10px;
  text-align: center;
}
.md-nav-item .md-button {
  padding-top: 6px;
  line-height: 19px;
}
.md-nav-item .fa {
  font-size: 18px;
}

/* Search */
.search-input {
  margin: 0;
  font-size: 12px;
  width: 75%;
  max-width: 400px;
}
.search-input .md-errors-spacer {
  display: none;
}
#results {
  position: relative;
}
.list-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
#searchmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.expandable {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.search-list {
  margin-top: 35px;
}
.expand-button {
  min-height: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.date {
  font-size: 14px;
  margin: 0px 10px;
}
.md-datepicker-button {
  display: none;
}
.marker-label {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  bottom: 50px;
  color: #f75448;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.categories {
  padding: 0 5%;
}

/* Tour */
.tour-title {
  text-align: center;
}
.back-icon i {
  font-size: 22px;
}
.plans-header {
  text-align: center;
}
.discuss-icon {
  margin-right: 10px;
}
.tour-description {
  padding: 20px;
  text-align: justify;
}
.join-btn {
  margin-bottom: 10px;
}
/* Credit: https://github.com/angular/material/issues/2148 */
.fullscreen-dialog {
  height:100%;
  width:100%;
  max-height:100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  background-color: rgb(250,250,250)
}
.fullscreen-dialog-content {
  padding: 0px 10px;
}
.reject {
  min-width: 45px;
}
.accept {
  min-width: 70px;
}
.close-dialog {
  font-size: 30px;
}
.participants-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.participants-title h3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* Discuss */
.profile-pic {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
  margin-right: 12px;
}
md-list-item.post {
  padding: 10px 16px;
}
.discuss-title {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: -16px;
}
.back-icon {
  position: relative;
  z-index: 2;
}
.discussion md-card {
  width: 100%;
}
