
<div ng-controller="CreateController" layout="column" ng-cloak="" >
  <md-toolbar layout-align="center">
    <div class="md-toolbar-tools" layout layout-align="center center">
      <span>Create</div>
    </div>
  </md-toolbar>
  <br><br>


  <md-content layout-padding="">
    <div>
      <form name="eventForm">

        <div layout="row">
          <md-input-container class="md-block" flex="">
            <label>Title</label>
            <input ng-model="tour.title">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container flex="">
            <input mdc-datetime-picker date="true" time="true" type="text" id="time" short-time="true"
                 placeholder="Date & Time"
                 ng-model="tour.time">
          </md-input-container>

        </div>
        

        <md-input-container class="md-block">
          
          <div ng-show = "last_loc.length" ng-repeat = "i in last_loc">
            <h5 >{{i}}</h5>
          </div>
          <label> Location</label>
          <input ng-model="location" places-auto-complete on-place-changed="placeChanged()" placeholder="Enter a Location">
        </md-input-container>
        
        <div layout="row" layout-align = "center start" fb-login>
          <div flex="10"></div>
          <md-button   flex= "" class="md-raised md-primary join-btn shift_margin" ng-click="locAdd()" ng-disabled="!location.length">ADD LOCATION</md-button>
          <div flex="10"></div>
        </div>

        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="tour.description" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>
        
        <md-input-container class="md-block">
          <label>Plans</label>
          <md-chips ng-model="plan_titles" placeholder = "Enter a plan" secondary-placeholder="+ Plan" md-enable-chip-edit="true">
          </md-chips>
        </md-input-container>

        <md-input-container>
          <label layout = "row" > Categories</label>
          <br><br>
          <div layout="row" >
            <div flex="50">
              <md-checkbox  ng-model="category_select.museums">Museums</md-checkbox>
              <md-checkbox  ng-model="category_select.architecture">Architecture</md-checkbox>
              <md-checkbox  ng-model="category_select.nature">Nature</md-checkbox><br>
              <md-checkbox  ng-model="category_select.food">Food</md-checkbox>
            </div>
            <div flex="50" >
              <md-checkbox ng-model="category_select.recreation">Recreation</md-checkbox>
              <md-checkbox ng-model="category_select.fitness">Fitness</md-checkbox>
              <md-checkbox ng-model="category_select.historical">Historical</md-checkbox>
              <md-checkbox ng-model="category_select.nightlife">Nightlife</md-checkbox>
            </div>
          </div>
        </md-input-container>


        

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised" ng-click = "onSubmit()" ng-disabled="!tour.title" ng-href="#/mytours">SUBMIT</md-button>
          
        </section>







      </form>
    </div>
  </md-content>

</div>

