<md-toolbar layout-align="center">
  <div class="md-toolbar-tools" layout layout-align="center center">
    <span>Discover</div>
  </div>
</md-toolbar>


<md-content>
	<h2 class="md-display-1 near-you"> Tours Near You</h2>
	<a href="#/tour/3" style="text-decoration:none">
	<md-card>
 		<md-card-content>
   			<h3>Night Time Tour @ Times Square</h3>
   			<div>
				<span>October 29th, 8pm</span>
				<span class="num-people">8 people</span>
			</div>
 		</md-card-content>
	</md-card>

	<md-card>
 		<md-card-content>
   			<h3>Wine Tasting @ xy Bar</h3>
   			<div>
				<span>December 3rd, 5pm</span>
				<span class="num-people">12 people</span>
			</div>
 		</md-card-content>
	</md-card>

	<h2 class="md-display-1 near-you"> Popular Destinations</h2>
	<a href="#/tour/3" style="text-decoration:none">
		<div layout="row">
			<div class = "pad" layout="column" flex="50">
				<md-button href='#/search/?center={"lat":40.7127837,"lng":-74.00594130000002}' class="md-accent md-raised">New York</md-button>
				<md-button href='#/search/?center={"lat":41.8781136,"lng":-87.62979819999998}' class="md-accent md-raised">Chicago</md-button>
				<md-button href='#/search/?center={"lat":47.6062095,"lng":-122.3320708}' class="md-accent md-raised">Seattle </md-button>
			</div>
			<div class = "pad" layout="column" flex = "50">
				<md-button href='#/search/?center={"lat":42.3600825,"lng":-71.05888010000001}' class="md-accent md-raised">Boston</md-button>
				<md-button href='#/search/?center={"lat":25.7616798,"lng":-80.19179020000001}' class="md-accent md-raised">Miami</md-button>
				<md-button href='#/search/?center={"lat":34.0928092,"lng":-118.32866139999999}' class="md-accent md-raised">Hollywood</md-button>
			</div>
		</div>
	</a>
</md-content>
