<md-toolbar md-whiteframe="3">
  <div class="md-toolbar-tools">
    <md-button class="back-icon" ng-click="goBack()">
      <md-icon>arrow_back</md-icon>
    </md-button>
    <div flex layout="row" layout-align="center center">
      <span class="discuss-title-text md-body-2">{{plan.text | characters:35}}</span>
    </div>
    <md-button style="visibility:hidden;">
      <md-icon>arrow_back</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-content class="discussion" layout="column">
  <md-list>
    <md-list-item ng-repeat="thread in discussion">
      <md-card class="thread">
        <md-card-header class="post" layout="row">
          <md-card-avatar>
            <profile-pic user="thread.post.author"></profile-pic>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{thread.post.author.name}}</span>
            <span class="md-subhead">{{thread.post.time | date:'short'}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <p>{{thread.post.text}}</p>
          <md-list ng-show="thread.replies.length">
            <md-list-item layout="row" ng-repeat="reply in thread.replies">
              <md-card-avatar>
                <profile-pic user="reply.author"></profile-pic>
              </md-card-avatar>
              <div flex>
                <div class="md-body-1">{{reply.text}}</div>
                <div class="md-caption">by {{reply.author.name}} at {{reply.time | date:'short'}}</div>
              </div>
            </md-list-item>
          </md-list>
          <md-input-container ng-show="makingReply" layout="column">
            <label>New Reply</label>
            <textarea md-maxlength="500" ng-model="newReplyText"></textarea>
            <md-button ng-disabled="!newReplyText.length" ng-click="(makingReply = false) || submitReply(thread, newReplyText) || (newReplyText = '')">POST</md-button>
          </md-input-container>
        </md-card-content>
        <md-card-actions ng-hide="makingReply" layout="row" layout-align="end center">
          <md-button ng-click="makingReply = true">
            <md-icon>reply</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-list-item>
    <md-list-item>
      <md-card>
        <md-card-content ng-show="makingPost" layout="column">
          <md-input-container class="new-post">
            <label>New Post</label>
            <textarea ng-model="newPostText" md-maxlength="500"></textarea>
          </md-input-container>
          <md-button ng-disabled="!newPostText.length" ng-click="(makingPost = false) || submitPost() || (newPostText = '')" class="md-raised md-primary">POST</md-button>
        </md-card-content>
        <md-card-actions ng-hide="makingPost">
          <md-button class="new-post-btn" flex ng-click="makingPost = true">+ New Post</md-button>
        </md-card-actions>
      </md-card>
    </md-list-item>
  </md-list>
</md-content>
