<md-toolbar layout-align="center">
  <div class="md-toolbar-tools" layout layout-align="center center">
    <span>Discover</div>
  </div>
</md-toolbar>


<md-content>
	<h2 class="md-display-1 near-you"> Tours Near You</h2>
	<a href="#/tour/3" style="text-decoration:none">
	<md-card>
 		<md-card-content>
   			<h3>Night Time Tour @ Times Square</h3>
   			<div>
				<span>October 29th, 8pm</span>
				<span class="num-people">8 people</span>
			</div>
 		</md-card-content>
	</md-card>

	<md-card>
 		<md-card-content>
   			<h3>Wine Tasting @ xy Bar</h3>
   			<div>
				<span>December 3rd, 5pm</span>
				<span class="num-people">12 people</span>
			</div>
 		</md-card-content>
	</md-card>

	<h2 class="md-display-1 near-you"> Popular Destinations</h2>
	<a href="#/tour/3" style="text-decoration:none">
		<div layout="row">
			<div class = "pad" layout="column" flex="50">
				<md-button href="#/search" class="md-accent md-raised">New York</md-button>
				<md-button href="#/search" class="md-accent md-raised">Chicago</md-button>
				<md-button href="#/search" class="md-accent md-raised">Seattle </md-button>
			</div>
			<div class = "pad" layout="column" flex = "50">
				<md-button href="#/search" class="md-accent md-raised">Boston</md-button>
				<md-button href="#/search" class="md-accent md-raised">Miami</md-button>
				<md-button href="#/search" class="md-accent md-raised">Hollywood</md-button>
			</div>
		</div>
	</a>
</md-content>
