<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100" rel="stylesheet">
<div class="full" >

	
	<br><br><br>

	<div layout="row" layout-align="center center">
		<h1 class="fontFace"> Embark </h1>
	</div>
	
<!-- 
	<div layout = "row" layout-align = "center center" fb-login>
		<fb:login-button max-rows="1" size="large"></fb:login-button>
	</div> -->
	
	
	
	<div layout="row" layout-align = "center center" fb-login>
		<div flex="10"></div>
		<md-button   flex= "" class="md-raised md-primary join-btn"">Login</md-button>
		<div flex="10"></div>
	</div>
	<!-- <div layout="row" layout-align="center center">
		<div flex="10"></div>
		<md-button class="md-primary" flex ="80"> Login </md-button>
		<div flex="10"></div>
		
	</div> -->



</div>
