<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100" rel="stylesheet">
<div class="full" >

	
	<br>

	<div layout="row" layout-align="center center">
		<img ng-src="./data/em.png">
	</div>
	

<!-- 	<div layout = "row" layout-align = "center center" fb-login>
		<fb:login-button max-rows="1" size="large"></fb:login-button>
	</div> -->
	<br><br><br><br>
	<div layout="row" layout-align="center center">
		<div flex="10"></div>
		<md-button class="md-primary big" flex ="80"> Login </md-button>
		<div flex="10"></div>
		
	</div>



</div>
