<div layout="column" layout-fill>
  <md-toolbar>

    <div class="md-toolbar-tools">
        <span flex></span>
      <span>My Tours</span>
        <span flex></span>
    </div>

  </md-toolbar>
  <md-content id="mytours" layout="column">
    <md-list>
    <md-list-item href="#/tour/3" class="tour" layout="row">
      <div class="date" flex="33" layout="column" layout-align="center center">
        <div class="md-headline">Today</div>
        <div class="md-headline">9 am</div>
      </div>
      <div class="content" flex="66" layout="column">
        <h3 class="md-headline">Jogging @ central park</h3>
        <div layout="row" layout-align="end end" flex>30 people are going</div>
      </div>
    </md-list-item>
    <md-list-item class="tour">World</md-list-item>
    <md-list-item class="tour">Hi</md-list-item>
    </md-list>
  </md-content>
</div>