<div layout="column" layout-fill>

  <!-- "My Tours" on top -->
  <md-toolbar>

    <div class="md-toolbar-tools">
        <span flex></span>
      <span>My Tours</span>
        <span flex></span>
    </div>

  </md-toolbar>


  <md-content id="mytours" layout="column">
    <md-list>
    <md-list-item href="#/tour/3" class="tour">
      <div class="tour-inner" layout="row">
        <div class="tour-date" flex="33" layout="column" layout-align="center center">
          <div class="md-headline" md-colors="{color:'primary'}"><b>Today</b></div>
          <div class="md-headline" md-colors="{color:'primary'}">9 am</div>
        </div>
      <div class="content" flex="66" layout="column">
        <h3 class="md-title tour-name">Jogging</h3>
        <div class="tour-location"> Central Park
        </div>
        <div layout="row" layout-align="end end" flex>15 people are going</div>
      </div>
    </div>
    </md-list-item>


</div>