<!-- "My Tours" on top -->
<md-toolbar md-whiteframe="3">
  <div class="md-toolbar-tools">
    <span flex></span>
    <span>My Tours</span>
    <span flex></span>
  </div>
</md-toolbar>
<md-content flex id="mytours" layout="column">
  <md-list>
    <md-list-item ng-href="#/tour/{{tour._id}}" class="tour" ng-repeat="tour in tours">
      <div class="tour-inner" layout="row">
        <div class="tour-date" flex="33" layout="column" layout-align="center center">
          <div class="md-headline" md-colors="{color:'primary'}">
            <b ng-show="isToday(tour.time)">Today</b>
            <b ng-hide="isToday(tour.time)">{{tour.time | date:'MM/dd'}}</b>
          </div>
          <div class="md-headline" md-colors="{color:'primary'}">{{tour.time | date:'h:mma'}}</div>
        </div>
        <div class="content" flex="66" layout="column">
          <h3 class="md-title tour-name">{{tour.title}}</h3>
          <div class="tour-location">
            {{tour.where}}
          </div>
          <div layout="row" layout-align="end end" flex>{{tour.guests.confirmed.length}} {{tour.guests.confirmed.length === 1 ? 'person is' : 'people are'}} going</div>
        </div>
      </div>
    </md-list-item>
  </md-list>
</md-content>
