<md-dialog class="fullscreen-dialog" aria-label="List dialog">
  <md-dialog-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div class="participants-title">
          <h3>{{tour.guests.confirmed.length}} {{tour.guests.confirmed.length === 1 ? 'Person' : 'People'}} Going</h3>
        </div>
        <span flex></span>
        <md-button class="close-dialog" ng-click="closeDialog()">
          <md-icon>cancel</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="fullscreen-dialog-content">
      <h3 ng-show="tour.guests.pending.length">Requests</h3>
      <md-list ng-show="tour.guests.pending.length">
        <md-list-item ng-repeat="guest in tour.guests.pending">
          <profile-pic user="guest"></profile-pic>
          <h4>{{guest.name}}</h4>
          <span flex></span>
          <md-button class="md-raised md-warn reject" ng-click="rejectUser(guest)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </md-button>
          <md-button class="md-raised md-primary accept" ng-click="acceptUser(guest)">
            <i class="fa fa-check" aria-hidden="true"></i>
          </md-button>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <h3>Going</h3>
      <md-list>
        <md-list-item ng-repeat="guest in tour.guests.confirmed">
          <profile-pic user="guest"></profile-pic>
          <h4>{{guest.name}}</h4>
          <span flex></span>
          <md-button class="md-warn" ng-click="kickUser(guest)">Kick</md-button>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </md-dialog-content>
</md-dialog>
